<header style="background-image: url('/assets/Dripping Sink.jpg'); background-position:center; background-size: cover;">
	
	<div class="carousel-caption">
		<h3>Leaky Faucets</h3>
		<p>Repairing your leaky faucets can save over 3000 gallons of water per year.</p>
	</div>

</header>

<section>

	<h1>Indoor Water Conservation</h1>

	<article>

		<h3>Fix leaks</h3>

		<p>Water your lawn only when necessary! It takes 660 gallons of water to supply 1,000 square feet of lawn with one inch of water. This is nearly the same amount of water that you use indoors in an entire week.</p>

	</article>

	<article>

		<h3>Turn Off Water When Not Using It</h3>

		<p>Water your lawn only when necessary! It takes 660 gallons of water to supply 1,000 square feet of lawn with one inch of water. This is nearly the same amount of water that you use indoors in an entire week.</p>

	</article>

</section>