<header style="background-image: url('https://placehold.it/1351x564'); background-position:center; background-size: cover;"></header>

<section>

	<h1>Indoor Water Conservation</h1>

	<article>

		<h2>Water Your Lawn Only When Necessary</h2>

		<p>Water your lawn only when necessary! It takes 660 gallons of water to supply 1,000 square feet of lawn with one inch of water. This is nearly the same amount of water that you use indoors in an entire week.</p>

	</article>

</section>