<div class="animation">
            <div class="fade-away"></div>
            <div class="logo-container">
                <div class="logo">
                    <span class="st0"></span>
                    <span class="st1"></span>
                    <span class="st2"></span>
                    <span id="test" class="st3"></span>
                    <span class="st4"></span>
                    <span class="st5"></span>
                    <span class="st6"></span>
                    <span class="st7"></span>
                    <span class="st8"></span>
                    <span class="st9"></span>
                    <span class="st10"></span>
                    <span class="st11"></span>
                    <span class="st12"></span>
                    <span class="st13"></span>
                    <span class="st14"></span>
                    <span class="st15"></span>
                    <span class="st16"></span>
                    <span class="st17"></span>
                    <span class="st18"></span>
                    <span class="st19"></span>
                    <span class="st20"></span>        
                    <span class="st21"></span>
                    <span class="st22"></span>
                    <span class="st23"></span>
                    <span class="st24"></span>
                    <span class="st25"></span>
                    <span class="st26"></span>
                    <span class="st27"></span>
                    <span class="st28"></span>        
                    <span class="st29"></span>
                    <span class="st30"></span>
                    <span class="st31"></span>
                    <span class="st32"></span>
                    <span class="st33"></span>
                    <span class="st34"></span>
                    <span class="st35"></span>
                    <span class="st36"></span>
                    <span class="st37"></span>
                    <span class="st38"></span>        
                    <span class="st39"></span>
                    <span class="st40"></span>
                    <span class="st41"></span>
                    <span class="st42"></span>
                    <span class="st43"></span>
                    <span class="st44"></span>
                    <span class="st45"></span>
                    <span class="st46"></span>
                    <span class="st47"></span>
                    <span class="st48"></span>        
                    <span class="st49"></span>
                    <span class="st50"></span>
                    <span class="st51"></span>
                    <span class="st52"></span>
                    <span class="st53"></span>
                    <span class="st54"></span>
                    <span class="st55"></span>
                    <span class="st56"></span>
                    <span class="st57"></span>
                    <span class="st58"></span>        
                    <span class="st59"></span>
                    <span class="st60"></span>
                </div>
            </div>
        </div>