nav {
	font-family: 'robotoregular';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	margin: 0px;
	padding-right: 50px;
	background-color: transparent !important;
	
	img {
		margin-left: 70px;
	}
}

.navbar-header > a {
	display: block;
}

a {
	font-size: 24px;
	color: #fff !important;

	-ms-transition:all .25s linear;
  	-moz-transition:all .25s linear;
  	-webkit-transition:all .25s linear;
  	-o-transition:all .25s linear;
}

a:hover {
	text-decoration: none;
  
}

.dropdown-menu {
	background-color:#66c;
}

.carousel-inner {
	height: 900px;
}

.earth-image-extension {
	background-color: #000;
	text-align: center;
}

.facts {
	height: 95px;
	background-color: #555;
}

.info-box {
	position: absolute;
	top: 600px;
	left: 140px;
	width: 300px;
	height: 200px;
	border-radius: 10%;
	background-color: #fff;
	padding: 10px;

	p {
		font-size: 20px;
	}


}

.learn-more {
	top: 30px;
	left: 4px;
	width: 170px;
	height: 45px;
	border-radius: 4px;
	background-color: #44f;
	text-align: center;
	vertical-align: center;

	span {
		color: white;
		vertical-align: center;
		font-size: 24px;
	}

}

footer {
	width: 100%;
}