@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('bootstrap/glyphicons-halflings-regular.eot');
  src: font-url('bootstrap/glyphicons-halflings-regular.eot?iefix') format('embedded-opentype'),
      font-url('bootstrap/glyphicons-halflings-regular.woff') format('woff'),
      font-url('bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
      font-url('bootstrap/glyphicons-halflings-regular.svg') format('svg');
}