@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('bootstrap/glyphicons-halflings-regular.eot');
  src: font-url('bootstrap/glyphicons-halflings-regular.eot?iefix') format('embedded-opentype'),
      font-url('bootstrap/glyphicons-halflings-regular.woff') format('woff'),
      font-url('bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
      font-url('bootstrap/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: 'Bebas';
  src: font-url('bebas/bebas.eot');
  src: font-url('bebas/bebas.eot?iefix') format('embedded-opentype'),
      font-url('bebas/bebas.woff') format('woff'),
      font-url('bebas/bebas.ttf') format('truetype'),
      font-url('bebas/bebas.svg') format('svg');
}

@font-face {
  font-family: 'Bubble';
  src: font-url('bubble.ttf') format('truetype');
}

@font-face {
  font-family: 'Jackpot';
  src: font-url('Jackpot.ttf') format('truetype');
}

@font-face {
  font-family: 'Sketch';
  src: font-url('sketch-webfont.eot');
  src: font-url('sketch-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sketch-webfont.woff2') format('woff2'),
       font-url('sketch-webfont.woff') format('woff'),
       font-url('sketch-webfont.ttf') format('truetype'),
       font-url('sketch-webfont.svg#sketch_matchregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: '101 Block LetterZ';
  src: font-url('101__Block_LetterZ.eot');
  src: font-url('101__Block_LetterZ.eot?#iefix') format('embedded-opentype'),
       font-url('101__Block_LetterZ.woff2') format('woff2'),
       font-url('101__Block_LetterZ.woff') format('woff'),
       font-url('101__Block_LetterZ.ttf') format('truetype'),
       font-url('101__Block_LetterZ.svg#sketch_matchregular') format('svg');
  font-weight: normal;
  font-style: normal;

}