<header style="background-image: url('https://placehold.it/1351x564'); background-position:center; background-size: cover;">
	<ul>
		<li><a href="#depletion">Water Depletion</a></li>
		<li><a href="#ice-caps">Freshwater in Ice Caps</a></li>
		<li><a href="#groundwater">Inaccessible Groundwater</a></li>
		<li><a href="#sahara">Sub Saharan African Water Usage</a></li>
	</ul>

</header>

<section>

	<h1>Water Conservation Facts</h1>

	<article id="depletion">

		<h2>Water Depletion</h2>

		<div class="row">

			<div class="col-sm-8">
		
				<p>Water Conservation is extremely crucial for the wellbeing of the world/Earth and all the inhabitants that live among it. Recently, we have been depleting more water than can be replaced naturally, such as rain, during decade long periods. Our current aquifers have been declining at alarming rates and our source of water will only continue to drop as population and our reliance on these aquifers grow. The consequences are critical and these are all the more reasons to conserve Water!</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="https://www.washingtonpost.com/news/wonk/wp/2015/06/16/new-nasa-studies-show-how-the-world-is-running-out-of-water/" target="_blank">Washington Post</a></li>
					<li><a href="http://water.usgs.gov/edu/gwdepletion.html" target="_blank">United States Geological Survey</a></li>
				</ul>

			</div>

		</div>

	</article>

	<article id="ice-caps">

		<h2>Freshwater in Ice Caps</h2>

		<div class="row">

			<div class="col-sm-8">
		
				<p>Although the Earth is consisted of mainly water, only 3% of all Earth is Freshwater. Among the 3%, just 1 percent of our freshwater is easily accessible, with much of it trapped in glaciers and snowfields. In essence, only 0.007 percent of the planet's water is available to fuel and feed its 7.4 billion people. However, the glaciers contain 68.7% of all of Earth’s freshwater, and provide hope for a large supplement of clean drinkable water!</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://water.usgs.gov/edu/watercycleice.html" target="_blank">United States Geological Survey</a></li>
				</ul>

			</div>

		</div>

	</article>

	<article id="groundwater">

		<h2>Inaccessible Groundwater</h2>

		<div class="row">

			<div class="col-sm-8">
		
				<p>The second largest source of freshwater is right under our noses! 30.1% of freshwater is groundwater!However of the water, only 45% of ground water is accessible. The other 55% is too far underground for us to currently reach and access it.With the Earth being extremely limited to freshwater, we all have to pitch in to make a difference!</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://water.usgs.gov/edu/earthwherewater.html" target="_blank">Water Distribution - US Geological Survey</a></li>
					<li><a href="http://water.usgs.gov/edu/watercyclegwstorage.html" target="_blank">Water Cycle - US Geological Survey</a></li>
				</ul>

			</div>

		</div>

	</article>

	<article id="sahara">

		<h2>Sub Saharan African Water Usage</h2>

		<div class="row">

			<div class="col-sm-8">
		
				<p>Sub-Saharan Africa is living proof that humans can live with 90%+ reduction to our water, and that we should use water much more sparingly!.Sub-Saharan Africa is located on the continent of Africa, it lies south of the Saharan Desert.The residents of this location only use 2-5 gallons daily while the average American uses roughly 100!With this we leave a huge water footprint than ever imagined!</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://atthewaterline.com/water-facts/" target="_blank">At The Water Line</a></li>
				</ul>

			</div>

		</div>

	</article>

</section>