<%
meta title: "Credits - H2Whoa!",
		 description: ""
%>

<section id="credits">

	<h1>Credits</h1>

	<% @credits.order(:name).each do |credit| %>

		<article>
				
			<h2><%= bip(credit, :name, :textarea) %></h2>

			<div class="col-sm-3">
				<%= image_tag(credit.image.url) %>
			</div>

			<%= cms_upload(credit, :image, "Upload Image") %>

			<div class="col-sm-9">
				<p><%= bip(credit, :description, :textarea) %></p>
			</div>

		</article>

	<% end %>

</section>

<script>
  $(document).ready(function(){
    $('nav').addClass('affix').addClass('dark')
  })
</script>