<div id="credits">

	<h1>Credits</h1>

	<% @credits.order(:name).each do |credit| %>

		<div>

			<div class="col-sm-3">
				<%= image_tag(credit.image.url) %>
			</div>

			<%= cms_upload(credit, :image, "Upload Image") %>

			<div class="col-sm-9">
				<h2><%= bip(credit, :name, :textarea) %></h2>
				<p><%= bip(credit, :description, :textarea) %></p>
			</div>

		</div>

		<hr>

	<% end %>

</div>