<header style="background-image: url('/assets/PivotWithDrops.JPG'); background-position:center; background-size: cover;"></header>

<section>

	<h1>Indoor Water Conservation</h1>

	<article>

		<h2>Water Your Lawn Only When Necessary</h2>

		<p>Water your lawn only when necessary! It takes 660 gallons of water to supply 1,000 square feet of lawn with one inch of water. This is nearly the same amount of water that you use indoors in an entire week.</p>

		<p>But Wait there's more!When should you water your lawn?Water it early in the morning or at night.when the grass is already somewhat moist from the due, and temperatures are cooler in the morning, it’s much more water friendly rather than being midday high hot temps, with dried up grass!At night it would also work extremely well because evaporation would be at a low for the day due to cooler temperatures!.</p>

		<p>Also mow lawns at a level of 2.5 to 3 inches.This will allow the grass to become thicker and collect more dew, which gives your lawn extra moisture.  Taller, thicker lawns collect more moisture.</p>

	</article>

	<article>

		<h2>Hose Fixtures</h2>

		<p>Attach a pistol-type sprayer to the end of your garden hose. This device enables you to adjust the rate of flow and keep water from running during periods when you put down the hose without turning it off</p>

	</article>

	<article>

		<h2>Use Mulch</h2>

		<p>Use Mulch around trees and shrubs and in garden beds because This greatly reduces the amount of water lost through evaporation and reduces the need for watering.</p>

	</article>

	<article>

		<h2>Drip Irrigation</h2>

		<p>Consider using a drip garden irrigation system in your garden. It supplies water only to the root zones of plants and reduces weeding because it doesn’t water areas between crop rows and hills.</p>

	</article>

	<article>

		<h2>Collect Rainwater</h2>

		<p>Collect rainwater and use it for watering your garden and flower beds</p>

	</article>

	<article>

		<p>Check out these links for more information:</p>

		<ul>
			<li><a href="http://waterandme.tamu.edu/ConservingWater/conservingwater.pdf" target="_blank">Texas A&M University</a></li>
			<li><a href="http://www.manchester-ia.org/index.asp?Type=B_BASIC&SEC=%7BC10AB9E3-F09C-43DB-8EC6-18E8783B0E81%7D" target="_blank">Manchester, Iowa</a></li>
		</ul>

	</article>

</section>