// .carousel
// 	margin-bottom: 25px
	
// 	a
// 		background: transparent !important

// 	.item
// 		width: 1170px
// 		height: 500px
// 		// background-image: url("http://placehold.it/2170x600")
// 		background-position: center
// 		background-size: cover

.carousel,
.carousel-inner,
.item
	height: 100%

.carousel
	background: #000

	video
		height: 100%

	.carousel-control
		background: transparent !important
