@import '../imports.sass'

.facts
	height: 95px
	background: #333
	position: relative

	.center
		display: table
		height: 100%
		margin: 0 auto
		position: relative

		.fact-box
			display: inline-block
			height: 100%
			width: 250px
			margin: 0 10px
			background: #555

			+transform(skewX(-15deg))

		.fact-box:hover

			.fact-number
				display: none !important

			.fact-unit
				display: none

			.rollover-text
				display: block

		#fact-box1:hover
			background: #33c

		#fact-box2:hover
			background: #4747d1

		#fact-box3:hover
			background: #5c5cd6

		#fact-box4:hover
			background: #7070db

	p, .fact-number, .fact-unit, .rollover-text
		+transform(skewX(15deg))

	p
		margin-top: 6px
		margin-left: 6px
		margin-bottom: 8px
		font-size: 13px
		font-weight: bold
		text-transform: uppercase
		color: #fff
		font-family: Helvetica

	.fact-number
		font-size: 40px
		color: #fff
		margin-left: 20px
		margin-top: -100px
		display: inline-block

	.fact-unit
		font-size: 12px
		color: #888
		vertical-align: top
		margin-top: 6px
		display: inline-block

	.rollover-text
		font-size: 14px
		color: #fff
		vertical-align: top
		margin: 6px
		font-family: droid sans
		display: none