#login
	margin-top: 70px

	form
		> div
			padding-bottom: 20px
			overflow: auto

			&:last-child
				padding-bottom: 0

	.row
		overflow: auto
		
	input[type="submit"]
		padding: 10px
		background: #7F913B
		color: #000
		border: none
		outline: none
		// float: right !important
		font-size: 1.5rem
		letter-spacing: 1px
		width: auto
		text-transform: uppercase
		font-family: "Bebas"

	p
		margin: 0
		padding: 0
		color: #f00