#login
	div
		overflow: auto
		
	input[type="submit"]
		padding: 10px
		background: #7F913B
		color: #000
		border: none
		outline: none
		// float: right !important
		font-size: 1.5rem
		letter-spacing: 1px
		width: auto
		text-transform: uppercase