@import '../imports.sass'

section
	// background: rgba(35, 169, 225, 0.7) //was #e7e7e7 or rgba(53,92,99,1)
	padding: 50px 10%
	background: rgba(231,231,231,0.8)
	color: #000
	position: relative

	&::after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		bottom: 0
		right: 0
		left: 0
		background-image: url("/assets/paper.jpg")
		z-index: -1

	// @media (min-width: $screen-sm)
	// 	padding: 50px 90px

	// @media (max-width: $screen-sm - 1)
	// 	padding: 20px

	// h1,
	// h2,
	// h3
	// 	font-family: 'Sketch'

	h1
		margin-bottom: 40px
		font-family: '101 Block LetterZ'
		// font-size: 50px
		text-transform: uppercase
		// 	font-size: 72px
		line-height: 1.3 !important
		word-break: break-word

		+hyphens

	h2
		// font-weight: 700
		text-transform: uppercase
		letter-spacing: 2px

	article
		margin-bottom: 50px

		&:last-child
			margin-bottom: 0

		h2
			padding-bottom: 10px
			// border-bottom: 1px solid #355c63
			border-bottom: 1px solid #999

	// .col-sm-4
	// 	@media (min-width: $screen-sm)
	// 		border-left: 1px solid #ccc

	// .less-margin
	// 	border-left: none !important

	.col-sm-4
		img
			width: 100%

	ul
		font-size: 18px

	li
		padding: 5px 0

	p
		font-size: 18px
		line-height: 1.8

textarea
	color: black
