<header style="background-image: url('/assets/coloradoriver.jpg'); background-position:center; background-size: cover;">

	<div class="carousel-caption">
		<h3>The Colorado River Delta</h3>
		<p>The Colorado River is drying up due to water overuse, and it no longer reaches the ocean on most days.</p>
	</div>

</header>

<section>

	<h1>Why We Should Conserve Water</h1>

	<p>We need to conserve water because the United States is known for using the most water in the world. Water conservation stretches our supplies farther and allows us to do more and use less. We all know that water is essential, but most of us don’t realize that it's not unlimited, even though it is replenished through the water cycle. We're using water faster than the environment can replenish it and at our current water usage rates, we'll eventually run out of it. Water conservation is important because it helps prolong the life of the lake and rivers around the country. The warming climates is drying up the lakes and rivers.</p>

	<p>By using water wisely, you can save money on your energy and water bills. You will also help extend the life of the current supply and wastewater facilities. It will help protect drinking water resources and minimize water pollution and health risks. This will help protect the health of aquatic environments and maintain a stable water source. Another benefit is that it will help heat, pump, and treat water. These are some examples of how conserving water can help benefit you. Water conservation is very important because the United States uses about 416 trillion gallons of water per year, and we need you to help reduce that amount to extend the current supply we have.</p>

</section>