<header style="background-image: url('/assets/coloradoriver.jpg'); background-position:center; background-size: cover;">

	<div class="carousel-caption">
		<h3>The Colorado River Delta</h3>
		<p>The Colorado River is drying up due to water overuse, and it no longer reaches the ocean on most days.<br/>
		</p>
	</div>
	<!--<ul>
		<li><a href="#">Fact 1</a></li>
		<li><a href="#">Fact 2</a></li>
		<li><a href="#">Fact 3</a></li>
		<li><a href="#">Fact 4</a></li>
		<li><a href="#">Fact 5</a></li>-->
	</ul>

</header>

<section>

	<h1>Why We Should Conserve Water</h1>

</section>