<header style="background-image: url('https://placehold.it/1351x564'); background-position:center; background-size: cover;">
	<ul>
		<li><a href="#">Fact 1</a></li>
		<li><a href="#">Fact 2</a></li>
		<li><a href="#">Fact 3</a></li>
		<li><a href="#">Fact 4</a></li>
		<li><a href="#">Fact 5</a></li>
	</ul>

</header>

<section>

	<h1>Why We Should Conserve Water</h1>

</section>