<div id="contact">

	<h1>Contact <span>Us</span></h1>

  <iframe src="https://www.google.com/maps/embed/v1/place?q=Coeur%20d'Alene%2C%20ID%2C%20United%20States&key=AIzaSyCut1cnBQYw80bK0y8C2MLfOX2albDaQUM"></iframe>

  <div>

    <div class="col-sm-3">
      <%= image_tag("logo.png") %>
    </div>

    <div class="col-sm-9">
      <!-- <h2></h2> -->
      <p>Write stuff here.</p>
    </div>

  </div>

  <div id="info">

    <div class="col-sm-2">
      <span class="glyphicon glyphicon-envelope"></span>
      <div>
        <a href="mailto:info@h2whoa.com">info@h2whoa.com</a>
      </div>
    </div>

    <div class="col-sm-2">
      <span class="glyphicon glyphicon-earphone"></span>
      <div>
        <p>(208) 555-0114</p>
      </div>
    </div>

  	<div class="col-sm-4">
      <span class="glyphicon glyphicon-pushpin"></span>
      <div>
        <p>P.O. Box 9001 Coeur d'Alene, ID 83814</p>
      </div>
    </div>

  </div>

  <hr>

  <div>
  <form action="">

		<div>
			<div class="col-sm-3">First Name <span class="glyphicon glyphicon-asterisk"></span></div>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="FIRST NAME" id="first" name="first" required="true">
      </div>
		</div>

		<div>
			<div class="col-sm-3">Last Name <span class="glyphicon glyphicon-asterisk"></span></div>
			<div class="col-sm-9">
        <input type="text" class="form-control" placeholder="LAST NAME" id="lglyphicon glyphicon-asterisk" name="lglyphicon glyphicon-asterisk" required="true">
      </div>
		</div>

		<div>
			<div class="col-sm-3">Email Address <span class="glyphicon glyphicon-asterisk"></span></div>
			<div class="col-sm-9">
        <input type="text" class="form-control" placeholder="EMAIL" id="email" name="email" required="true">
      </div>
		</div>

		<div>
			<div class="col-sm-3">Phone Number</div>
			<div class="col-sm-9">
        <input type="text" class="form-control" placeholder="PHONE" id="phone" name="phone" required="true">
      </div>
		</div>

		<div>
			<div class="col-sm-3">Address</div>
			<div class="col-sm-9">
        <input type="text" class="form-control" placeholder="ADDRESS" id="address" name="address" required="true">
      </div>
		</div>

		<div>
			<div class="col-sm-3">Questions &amp; Comments <span class="glyphicon glyphicon-asterisk"></span></div>
			<div class="col-sm-9"><textarea class="form-control" placeholder="COMMENT" id="comment" name="comment" required="true"></textarea></div>
			</td>
		</div>

		<div>
			<div class="col-sm-2"><span class="glyphicon glyphicon-asterisk"></span> - Required Field</div>
			<div class="col-sm-2 right"><input id="submit" name="submit" type="submit" value="Submit"></div>
		</div>

  </form>
	</div>

</div>