<header>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

			<div class="item active" style="background-color: black;">

				<%= render "templates/animation" %>

				<div class="carousel-caption">
					<h3>H2Whoa!</h3>
					<p>A Slogan should go here<br/>
						<a href="#">Learn More???????????????KEEP THIS HERE??????????</a>
					</p>
				</div>
			</div>

			<div class="item" id="earth-video-slide">
				<video autoplay loop poster="" id="earth-vid">
					<source src="/assets/earth-rotating2.mp4" type="video/mp4">
				</video>
				<div class="carousel-caption">
					<h3>Water Earth</h3>
					<p>Earth is over x% water, but only 3% of it is freshwater which we are rapidly using.<br/>
						<a href="#">Learn More</a>
					</p>
				</div>
			</div>

			<div class="item" style="background-image:url('/assets/wave.jpg'); background-position:center; background-size:contain; background-repeat:no-repeat; background-size: cover;">
				<div class="carousel-caption">
					<h3>The Ocean</h3>
					<p>Some awesome and cool fact about the ocean should go here.<br/>
						<a href="#">Learn More</a>
					</p>
				</div>
			</div>
			
			<div class="item" style="background-image:url('/assets/water-drop.jpg'); background-position:center; background-size:contain; background-repeat:no-repeat; background-size: cover;">
				<div class="carousel-caption">
					<h3>Water</h3>
					<p>Some awesome and cool fact about water should go here.<br/>
						<a href="#">Learn More</a>
					</p>
				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

	</div>

</header>

<div class="facts">

	<!-- <div class="center"> -->

		<div class="fact-box" id="fact-box1"> 
			<div class="helper">
				<p>Water Used by the U.S.</p>

				<div class="front">
					<div class="fact-number">416</div><div class="fact-unit">trillion gallons per year</div>
				</div>

				<div class="back">That's the equivalent of 54,953,000,000 plastic water bottles!</div>
			</div>
		</div>

		<div class="fact-box" id="fact-box2" >
			<div class="helper">
				<p>Water used by U.S. Households</p>

				<div class="front">
					<div class="fact-number">100</div><div class="fact-unit">thousand gallons per year</div>
				</div>

				<div class="back">The average U.S. resident uses about 100 gallons per day, where Europeans use only 50 gallons per day on average.</div>
			</div>
		</div>

		<div class="fact-box"id="fact-box3" >
			<div class="helper">
				<p>Faucet leaking at 1 drip/second</p>

				<div class="front">
					<div class="fact-number">3000</div><div class="fact-unit">gallons per year</div>
				</div>

				<div class="back">Household leaks in the U.S. can account for over 1 trillion gallons of wasted water.</div>
			</div>
		</div>

		<div class="fact-box"id="fact-box4">
			<div class="helper">
				<p>Water Pipes in U.S. and Canada</p>

				<div class="front">
					<div class="fact-number">1</div><div class="fact-unit">million miles</div>
				</div>

				<div class="back">That's enough to wrap around the world 40 times!</div>
			</div>
		</div>

	<!-- </div> -->

</div>

<section>

	<h1>H2Whoa!</h1>

</section>